body > footer {
    background-color: var(--muted-color);
    padding: var(--block-spacing-vertical) 0 0;
}

body > footer a {
    color: var(--primary-inverse);
}

body>footer>section:last-child {
    --block-spacing-vertical: 0;
    padding: var(--spacing);
    font-size: calc(var(--font-size) * .875);
    background-color: var(--primary);
    color: var(--primary-inverse);
}