[data-theme='light'],
:root:not([data-theme='dark']) {
  --pico-primary: #0e54a1;
  --pico-primary-hover: #09386b;
  --pico-primary-focus: #09386b;
  --pico-primary-inverse: #fff;
  --pico-border-radius: 0;

  --pico-muted-color: #cfcfcf;
}

/* Navigation */
nav {
  padding: 0 var(--pico-spacing);
  background-color: var(--pico-primary);
}

nav a,
nav [role='button'] {
  color: var(--pico-muted-color);
}

nav a[aria-current],
nav a.active,
nav a:hover,
nav [role='link']:hover,
nav ul {
  color: var(--pico-primary-inverse);
}

/* Grid */
.grid {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* Hgroup */
main > hgroup {
  padding: var(--pico-spacing);
  text-align: center;
}

/* Articles */
section > article {
  display: flex;
  flex-direction: column;
}

section > article > h1 {
  font-size: 1.125rem;
}

section > article > header ,
section > article > footer {
  padding: 0;
}

section > article > footer {
  margin-top: auto;
}

section > article > footer > a {
  width: 100%;
}

/* Footer */
body > footer {
  background-color: var(--pico-muted-color);
  padding: var(--pico-block-spacing-vertical) 0 0;
}

body > footer a {
  color: var(--pico-primary-inverse);
}

body > footer {
  text-align: center;
}

body > footer > section:last-child {
  --pico-block-spacing-vertical: 0;
  padding: var(--pico-spacing);
  font-size: 0.875rem;
  background-color: var(--pico-primary);
  color: var(--pico-primary-inverse);
}
