nav {
    padding: 0 var(--spacing);
    background-color: var(--primary);
}

nav a, 
nav [role="button"]{
    color: var(--muted-color);
}

nav a[aria-current],
nav a.active,
nav a:hover,
nav [role="link"]:hover,
nav ul {
    color: var(--primary-inverse);
}